{% assign finished_books = site.books | where_exp: 'book', 'book.date_finished != nil' | sort: "date_finished" %}

{% for book in finished_books %}
{% if book.review_url == page.url %}

{% assign next_post = finished_books[forloop.index] %}
{% if next_post %}
<p>
  After "{{ book.title }}" I read:
  {% if next_post.review_url %}
  <a href="{{ site.baseurl }}{{ next_post.review_url }}">
    {{ next_post.title }}
  </a>
  {% else %}
  {{ next_post.title }}
  {% endif %}
</p>
{% else %}
<p><em>This is the most recent book I've recorded finishing.</em></p>
{% endif %}

{% if forloop.index0 > 0 %}
{% assign previous_index = forloop.index0 | minus: 1 %}
{% assign previous_post = finished_books[previous_index] %}
<p>
  Before "{{ book.title }}" I read:
  {% if previous_post.review_url %}
  <a href="{{ site.baseurl }}{{ previous_post.review_url }}">
    {{ previous_post.title }}
  </a>
  {% else %}
  {{ previous_post.title }}
  {% endif %}
</p>
{% else %}
<p><em>This is the first book on my reading log.</em></p>
{% endif %}

{% endif %}
{% endfor %}